/*** Style Definitions ***/
html{ 
	background:#67b2ff; 
	;
	font-family:Arial, Helvetica, sans-serif; 
}
 
/*** Header ***/
h1#logo{ 
	/*background:url(../parallaxTraining/Logo.png) top left no-repeat; */
	color: black;
	height:62px; 
	width:481px;
	font-family: 'Lily Script One';
	font-size: 38px;
	position:absolute; 
	top:10px; 
	left:10px; 
	z-index: 10;
}
 
#menu{ 
	float:right; 
	position:absolute; 
	top:20px; 
	right:10px; 
	z-index:10; 
}
 
#menu a{ 
	background:#FFF; 
	color:#67b2ff; 
	border:#AAA 3px solid;  
	text-decoration:none; 
	padding:10px;
	margin-right:10px; 
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
}
 
#menu a:hover{ 
	background:#67b2ff; 
	color:#FFF; 
	border:#FFF 3px solid; 
	text-decoration:none; 
	padding:10px;
	margin-right:10px; 
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
}
 
#menu li{float:left;}
 
/*** Body Content ***/
#wrapper{ 
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0; 
	left:0; 
	overflow:hidden;
	background-image: url(../parallaxTraining/background.png);
	z-index: -4; 
}
 
#mask{ 
	width:400%; 
	height:100%; 
}
 
.box{ 
	width:25%; 
	height:100%; 
	float:left; 
}

/*** Clouds ***/
.clouds		{ width:100%; height:262px; overflow:hidden; }
#clouds-small	{ width:3000px; height:100%; background:url(../parallaxTraining/bg-clouds-small.png) repeat-x;}
#cloud2		{ position:relative; top:-262px; }
#clouds-big	{ width:4000px; height:100%; background:url(../parallaxTraining/bg-clouds-big.png) repeat-x;}

/*Grass*/
.grass		{ width:100%; height:262px; overflow:hidden; z-index: 7;}
#grass-small	{ width:3000px; height:100%; background:url(../parallaxTraining/grass.png) repeat-x;}
#grass2		{ position:relative; top:-189px; }
#grass-big	{ width:4000px; height:100%; background:url(../parallaxTraining/grass.png) repeat-x;}

/*Pig*/
.pig		{ width:100%; height:300px; overflow:hidden; }
#pig-small	{ width:3000px; height:100%; background:url(../parallaxTraining/pig.png) repeat-x;}
#pig2		{ position:relative; top:-925px; }
#pig1		{ position:relative; top:-525px; }
#pig-big	{ width:4000px; height:100%; background:url(../parallaxTraining/lamb.png) repeat-x;}



 
#menu a.selected { 
background:#AAA; 
color:#FFF; 
border:#67b2ff 3px solid; 
text-decoration:none; 
padding:10px;
margin-right:10px; 
border-radius:10px;
 -moz-border-radius:10px; 
-webkit-border-radius:10px;
} 
 
.content{
	width:960px; 
	height:400px; 
	top:20%; 
	margin: 0 auto; 
	position:relative; 
	
	border-radius:35px; 
	-moz-border-radius:35px; 
	-webkit-border-radius:35px; 
}
 
.inner{ 
	width:920px; 
	height:360px; 
	 
	
	margin:5px; 
	padding:15px; 
	top:5px; 
	position:relative; 
}